<div class="large-container center-block">
  <h1>
    <%= @article.title %>
  </h1>
  <div>
    Escrito por: <strong><%= @article.user.email %></strong>
  </div>
  <div>
    <%= @article.content %>
  </div>
  <div class="margin-top">
    <p class="label">Tags</p>
    <% @article.categories.each do |category|%>
      <span class="badge badge-pill padding" style="background-color:<%= category.color%>">
        <%= link_to category.title, category, class:"text-white" %>
      </span>
    <% end %>
  </div>
  <div>
    <%= link_to 'Eliminar el artículo', @article, method: :delete %>
  </div>
</div>
